<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin New Password</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/admin-new-password.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"/>

</head>
<body>
    <div class="navbar">
            <h2>
                Car-Spa
            </h2>
    </div>
    <div class="container-fluid">
        <div>
            <div class="alert alert-danger alert-dismissible confirm-password-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Sorry, your passwords did not match. Please try again.</p>
            </div>
            <h3>
                Reset your password
            </h3>
            <strong>Please enter a new password.</strong>

            <form method="POST" id="new-password-form" action="/api/admins/forgot-password-form/submit">
                <div>

                    <input type="password" id="adminNewPassword" name="adminNewPassword" placeholder="New Password" required>
                </div>
                <div>
                    <input type="password" id="adminConfirmNewPassword" name="adminConfirmNewPassword" placeholder="Confirm new password" required>
                </div>
                <div>
                    <input type="text" name="accessToken" value="{{token}}" style="display: none">
                </div>
                <div>
                    <input type="submit" value="Reset password">
                </div>

            </form>
        </div>

    </div>

    <script>
        const newPasswordForm = document.querySelector('#new-password-form')
        newPasswordForm.addEventListener('submit', (e)=>{
            e.preventDefault()   

            if(newPasswordForm['adminNewPassword'].value != newPasswordForm['adminConfirmNewPassword'].value)
            {
                document.querySelector('.confirm-password-error').style.display = 'block'
            }   
            else{
                newPasswordForm.submit()      
            }

            })

    </script>
</body>
</html>