
.container-fluid{
    font-family: 'Open Sans', sans-serif;
}

.right-part{
    background-color: #25AEFF;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.right-part h1{
    font-weight: normal;
    font-size: 48px;
    padding-top: 5rem;
}

.left-part{
    text-align: center;
}

.left-part h1, .forgot-password-part h1{
    font-weight: bolder;
    font-size: 48px;
    padding-top: 5rem;
}
.left-part h1 strong{
    color: #25AEFF;
}

.Alerts{

    margin-top: 8rem;
}

.Alerts-success{
    display: none;
}

#forgot-password-email-error{
    color: red;
}

#admin-login{
    padding-top: 6rem;
}

#forgot-password-form{
    padding-top: 5rem;
}

.forgot-password-part{
    display: none;
    text-align: center;
}

input{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #25AEFF;
    padding-left: 2rem;
    font-size: large;
    margin-bottom: 5rem;
}


#email-error, #password-error{
    display: none;
    color: red;
}

input{
    outline: none;
}

#admin-login input[type="submit"], #forgot-password-form input[type="submit"]{
    background-color: #25AEFF;
    color: #fff;
    padding-left: 0;
    width: 218px;
    height: 50px;
    margin-bottom: 2rem;
    border-radius: 50px;
}
a{
    font-weight: bold;
    color: #25AEFF;
}


@media only screen and (max-width: 1000px){
    .right-part{
        display: none;
    }
}


