body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container-fluid{
    font-family: 'Open Sans', sans-serif;
}

.side-nav-bar{
    background-color: #25AEFF;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.side-bar-links ul li a{
    color: white;
}

/*.side-bar-links ul li a:hover{
    color: #25AEFF;
}*/

.main{
    margin-left: 23rem;
}

@media only screen and (max-width: 1000px){
    .side-nav-bar{
        display: none;
    }
    .main{
        margin: 0;
    }
}

.side-nav-bar h3{
    padding-bottom: 4rem;
}

ul{
    list-style-type: none;
}

.side-bar-links{
    text-align: left;
    font-weight: bold;
}


i{
    padding-right: 1rem;
    font-size: 3rem;
}

.side-bar-links ul li{
    width: 100%;
    padding: 1rem;
    padding: 2rem 2rem;
    color: #fff;
}

/*.side-bar-links ul li:hover{
    background-color: #fff;
    color: #25AEFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}*/

.side-bar-links ul li span{
    padding-bottom: 2rem;
}

.active-tab{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.active-tab span, .active-tab i{
    color: #25AEFF;
}

.active-tab a:hover{

    text-decoration: none;
}


.top-nav{
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.top-nav h4{
    font-weight: bold;
    padding: 0.5rem;
    display: inline-block;
}

.user-info{
    padding: 1rem;
    float: right;
}

.category-stats{
    background-color: #fff;
    color: #000;
    padding: 3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.stat{
    margin-bottom: 2rem;
}
.category-stats strong{
    font-weight: bolder;
    font-size: 3rem;
}

.category-stats span{
    color: gray;
    font-weight: bold;
}

.category-stats i{
    float: right;
}

.recent-orders{
    padding: 3rem;
    background-color: #fff;
    margin: 0;
}

.order-rating{
    font-weight: bold;
}

.recent-orders{
    margin-bottom: 1rem;
    border-radius: 5px;
}


.card{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 5px;
}

.card-img-top{
    width: 100%;
}

.see-profile-btn a{
    background-color: #25AEFF;
    border:none;
}

@media only screen and (max-width: 1000px){
    .card-img-top{
        display: none;
    }
}

.add-employee{
    background-color: #25AEFF;
    border: none;
    float: right;
    margin: 1.5rem;
    font-weight: bolder;
}